div {
        width: 80%;
        height: 300px;
        margin-bottom: 20px;
        background: url("393735.jpg") no-repeat;
        background-size: cover;
      }
      img {
        width: 30%;
        height: 30%;
      }
      .border-one {
        border: 20px solid transparent;
        border-image: url("pngimg.com - picture_frame_PNG198.png") 50 round;
      }
      .border-two {
        border: 20px solid transparent;
        border-image: url("pngimg.com - picture_frame_PNG198.png") 153 round;
      }
      .border-three {
        border: 20px solid transparent;
        border-image: url("pngimg.com - picture_frame_PNG198.png") 100% round;
      }
      .border-four {
        border: 20px solid transparent;
        border-image: url("pngimg.com - picture_frame_PNG198.png") 20 stretch;
      }
